

<div class="well bs-component">
<form class="form-horizontal" action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="username" class="col-md-2 control-label">Username:</label>

      <div class="col-md-10">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      </div>
    </div>
        <div class="form-group">
      <label for="password" class="col-md-2 control-label">Password:</label>

      <div class="col-md-10">
        <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
      </div>
    </div>
        <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <p><small>Hint - codingtest:password09876</small></p>
    <p><small>Hint - bob:secret</small></p>
<p><small>Hint - joe:password</small></p>
      </fieldset>
</form>
</div>